.header {
    display: flex;
    align-items: center;
    background: #000;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
}

.header_logo {
    flex: 1;
}

.header_logo img {
    width: 340px;
    height: auto;
    display: block;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.header_nav form button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}